@import "tailwindcss";

:root {
  --background: #141414;
  --text: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-text: var(--text);
}

body {
  background: var(--background);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}
