@import "tailwindcss";

:root {
  --background: #141414;
  --text: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-text: var(--text);
  --color-text-secondary: #b3b3b3;
  --radius-sm: 8px;
  --radius-md: 10px;
  --radius-lg: 12px;
  --color-surface: #1f1f1f;
  --color-surface-light: #2a2a2a;
  --color-primary: #e50914;
  --color-secondary: #f5c518;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}
